# Увімкнення rewrite
RewriteEngine On

# Якщо файл або директорія існують — не чіпаємо
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Всі інші запити відправляємо в index.php
RewriteRule ^ index.php [L]
